/*/target
/*/.classpath
/*/.project
/*/.settings
*derby*
1
.project
.settings
*.key
CA-ws/keys_*

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
